// colors
$primary-clr: hsl(213, 96%, 18%);
$secondary-clr: hsl(228, 100%, 84%);
$accent-clr: hsl(243, 100%, 62%);

$background-clr-1: hsla(206, 94%, 87%, 0.3);
$background-clr-2: hsl(229, 24%, 87%);

// text
$text-clr-1: hsl(213, 96%, 18%);
$text-clr-2: hsl(231, 11%, 63%);
$text-clr-3: hsl(229, 24%, 87%);
// border
$border-clr: hsl(231, 11%, 63%);
// font-family
$base-font: 'Ubuntu', sans-serif;

// breakpoints
$tablet-up: 46.25em;
$desktop: 80em;
