@use '../abstracts/variables' as *;

// https://type-scale.com/
@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: 700;
}

html {
  font-size: 100%;
}

/*16px*/

body {
  background: lighten($secondary-clr, 10%);
  font-family: $base-font;
  font-weight: 400;
  line-height: 1.75;
  color: $text-clr-1;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $base-font;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small,
.text_small {
  font-size: 0.75rem;
}
